<footer class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <p>Socials |</p>
      <div class="icons">
        <ul>
          <a href="https://github.com/wireduclement"><img src="../static/svg/github.svg" alt="Github" width="30"></a>
          <a href="https://www.instagram.com/stack.yungiin/"><img src="../static/svg/instagram.svg" alt="Instagram" width="30"></a>
          <a href="https://twitter.com/__fianko"><img src="../static/svg/twitter.svg" alt="Twitter" width="30"></a>
        </ul>
    </div>
    </footer>  
  
    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>
</body>
</html>