{% include "header.html" %}

<title>Cafe & Wifi Website</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<body>
    <div class="container">
        
        <main>

            <section class="py-5 text-center container">
              <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                  <h1 class="fw-light">☕ Cafe & Wifi 🛜</h1>
                  <p class="lead text-body-secondary">
                    Checkout my collection of cafes with
                    the best work and study-friendly cafes, restaurants, libraries, 
                    and hotel lobbies in London. Find venues with free and reliable Wi-Fi 
                    hotspots, ample power sockets, and comfy seating areas.
                  </p>
                </div>
              </div>
            </section>
          
            <div class="album py-5 bg-body-tertiary">
              <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                  {% for cafe in cafes %}
                  <div class="col mb-4">
                    <div class="card shadow-sm">
                      <img class="bd-placeholder-img card-img-top" src="{{ cafe.img_url }}" width="100" height="250">
                      <div class="card-body">
                        <p class="card-text">{{ cafe.name }}, {{ cafe.location }}</p>
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{{ url_for('show_cafe_post', post_id=cafe.id) }}" class="btn btn-sm btn-outline-secondary" id="redirectButton">View detailed info</a>
                            <a href="{{ cafe.map_url }}" class="btn btn-sm btn-outline-secondary" id="redirectButton">View on map</a>
                          </div>
                          <small class="text-body-secondary">9 mins</small>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          
          </main>
    </div>

{% include "footer.html" %}