.btn {
    margin-top: 20px;
    width: 700px;
}

#form {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 60vh; 
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
}
  
/* .paragraph-spacing {
    margin-bottom: 60px;
    line-height: 3.0;
    font-family: Arial, Helvetica, sans-serif;
} */