<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup Form</title>
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body class="signup-item">
  <div class="signup-container">
    <form class="signup-form" method="POST">
      <h2>Sign Up</h2>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <p class="flash" style="color: red;">{{ message }}</p> 
          {% endfor %}
      {% endif %}
      {% endwith %}
      <br>
      <div class="form-group">
        <label for="name">Full Name</label>
        <input type="text" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
      </div>
      <button type="submit" class="signup-button">Sign me up</button>
      <br><br><br>
      <p>Already have an account? <a href="{{ url_for('login') }}">Log in</a></p><br>
      <a href="{{ url_for('index') }}">Exit</a>
    </form>
    <br>
  </div>
</body>
</html>
