{% extends 'base.html' %}
{% block title %}Todos{% endblock %}

{% block content %}

<div class="container">
    <div class="col-sm-8">

      <h1>Your Todos</h1>

      <table class="table">
        <thead>
            <tr>
              <th>No.</th> 
              <th>Task</th>
              <th>Date</th>
              <th>Time</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
        <tbody>
          {% for todo in todos %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ todo.task }}</td>
            <td>{{ todo.date }}</td>
            <td>{{ todo.time }}</td>
            <td><a href="{{ url_for('edit', todo_id=todo.id) }}" class="btn btn-info">Edit</a></td>
            <td><a href="{{ url_for('delete', todo_id=todo.id) }}" class="btn btn-danger">Delete</a></td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
      <p>
        <a href="{{ url_for('add')}}" class="btn btn-primary">Add new todo</a>
      </p>
      
    </div>
</div>

{% endblock %}

